PORT=5000
# MONGO_URI=mongodb+srv://pushkar:<db_password>@cluster0.lsuhtlc.mongodb.net/mydatabase?appName=Cluster0
MONGO_URI=your_mongodb_atlas_uri_here
JWT_SECRET=your_jwt_secret_here
OMDB_API_KEY=your_omdb_api_key_here
